@import "../../scss/variables";

.login {
    &Page {
        background: url("../../assets/planes/plane-3.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
        }
    }

    &PageContent {
        background-color: $white;
        border-radius: 1rem;
        padding: 3rem;
        position: relative;
        text-align: center;
        z-index: 10;
        width: 85%;
        max-width: 30rem;

        img {
            width: 10rem;
            margin-bottom: 2rem;
        }
    }

    &Form {
        // border: magenta solid 1px;
        text-align: left;

        &Input {
            // border: green solid 1px;
            width: 100%;

            label {
                position: absolute;
                top: -100000rem;
                left: -100000rem;
                height: 1px;
                width: 1px;
                overflow: hidden;
            }
        }
    }
}