.extraBox{
    height: 200px;
    width: 200px;
    bottom: 0;
    background-color: white;
    padding: 5px;
    position: absolute;
    box-shadow: 0px 0px 10px black;
    border-radius: 5px;
    
    
    
    .box{

        border: solid 1px grey;
    }




    select{
    }
    
    
    button{

    }
}