@import "../../scss/variables";

.user {
  background: url("../../assets/planes/plane-3.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-width: 100vw;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  &Container {
    background-attachment: fixed;
    background-position: center;
    display: flex;
    align-items: center;
    position: relative;
    background-color: $white;
    width: 90%;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    margin: 12vh 0;
    z-index: 10;
    border-radius: 20px;
  }

  &Section {
    &ImgAndName {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;
      margin: 2rem 0;
      gap: 2rem;
      img {
        width: 9rem;
        height: 9rem;
        border-radius: 50%;
      }
      h1{
        margin: 0 0 2rem 0;
        font-weight: $bold-font;
        font-size: 1.8rem;
      }
    }
  }

  .logOut {
    &Box {
      width: 100%;
      display: flex;
      padding: 0 0.5rem;
      justify-content: flex-end;
    }
    &Button {
      border: none;
      background-color: transparent;
      padding: 5px;
      &Icon {
        transition: 0.1s;
        color: $gray;
        font-size: 2rem;
        &:hover {
          color: #d10b0b;
          filter: drop-shadow(1px 1px 2px black);
        }
      }
    }
  }
}

.cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  border-top: 1px solid $gray;
  min-height: 12rem;
  h1{
    margin: 0 0 2rem 0;
    font-weight: $bold-font;
    font-size: 1.5rem;
  }
  &Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }

  &Update {
    width: 100%;
    display: flex;
    justify-content: end;
    &Button {
      background-color: $main-color;
      border-radius: 3px;
      border: 1px solid $main-color;
      font-size: 0.8rem;
      color: $white;
      text-decoration: none;
      padding: 5px;
      transition: 0.3s;
      &:hover {
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
      }
      &:active {
        box-shadow: 1px 1px 3px black inset;
      }
    }
  }
  &Favs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    gap: 4rem;
  }
}
.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  &TextBox {
    display: flex;
    p {
      margin: 0 0.5rem;
    }
  }
}
.cardFav {
  border-radius: 0.8rem;
  box-shadow: 5px 5px 10px rgba(148, 148, 148, 0.5);
  font-size: 2.4rem;
  padding: 0.4rem 2rem 2rem 2rem;
  max-height: 10rem;
  max-width: 100%;
  &City {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    bottom: 1.1rem;
    right: 1.2rem;
    p {
      font-weight: $bold-font;
    }
  }
  &Button {
    &X {
      width: 100%;
      display: flex;
      position: relative;
      left: 1.5rem;
      justify-content: flex-end;
    }
    &Delete {
      background-color: #d10b0b;
      color: $white;
      border: none;
      display: flex;
      align-items: center;
      border-radius: 50%;
      padding: 0.1rem 0.3rem;
    }
  }
  &JourneyAndPrice {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 0 1rem 0;
  }
  &Journey {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0.4rem;
  }
  &Price {
    display: flex;
    justify-content: center;
  }
  &Buttons {
    display: flex;
    justify-content: space-around;
    grid-gap: 1rem;
    width: 100%;
    padding: 0 0 1rem 0;
    button {
      padding: 0.4rem;
      font-size: 0.8rem;
      width: 50%;
      background-color: $main-color;
      color: $white;
      border-radius: 10px;
      border: 2px solid $main-color;
      cursor: pointer;
      &:hover {
        border: 2px solid $black;
      }
    }
  }
}




.buttons{
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  gap: 2rem;
  &Delete {
    color: $white;
    background-color: #d10b0b;
    border: none;
    transition: 0.3s;
    padding: 0.5rem 0.5rem;
    border-radius: 10px;
    &hover {
      cursor: pointer;
      text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
    }
  }
  &LogOut{
    color: $black;
    background-color: $white;
    border: 1px solid $gray;
    transition: 0.3s;
    padding: 0.5rem 0.5rem;
    border-radius: 10px;
    &hover {
      cursor: pointer;
      text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
    }
  }
}

@media screen and (min-width: $tablet-width) {
  .userContainer{
    width: 70%;
  }
  .cards {
    &Favs {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 3rem;
    }
  }
}