@import '../../scss/variables';

.AboutUsTotal {
    width         : 100%;
    display       : flex;
    flex-direction: column;
    align-items   : center;

    h2 {
        margin   : 1rem 0;
        font-size: 2rem;

        width        : auto;
        border-bottom: solid 2px $main-color;

    }
}

.AboutUs {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    padding-bottom: 2rem;

}


.cardGonza {

    background-color      : aqua;
    background-image      : url('./photo/fotoGonza.jpg');
    background-size       : cover;
    background-position   : center;
    // border-radius      : 1rem;
    // border          : solid 3px $main-color;
    box-shadow            : 0px 0px 5px black;
    display               : flex;
    flex-direction        : column;
    justify-content       : space-between;
    align-items           : center;

    width     : 21rem;
    height    : 80vh;
    object-fit: cover;
    margin-top: 2rem;
}

.cardDavid {

    background-color      : aqua;
    background-image      : url('./photo/noimg2.jpg');
    background-size       : cover;
    // border-radius      : 1rem;
    // border          : solid 3px $main-color;
    box-shadow            : 0px 0px 5px black;
    background-position   : center;

    display        : flex;
    flex-direction : column;
    justify-content: space-between;
    align-items    : center;
    width          : 21rem;
    height         : 80vh;
    object-fit     : cover;
    margin-top     : 2rem;


}

.cardBautista {

    background-color      : aqua;
    background-image      : url('./photo/fotoBautista.jpeg');
    background-size       : cover;
    // border-radius      : 1rem;
    // border          : solid 3px $main-color;
    box-shadow            : 0px 0px 5px black;
    background-position   : center;

    display        : flex;
    flex-direction : column;
    justify-content: space-between;
    align-items    : center;
    width          : 21rem;
    height         : 80vh;
    object-fit     : cover;
    margin-top     : 2rem;

}

.cardAngel {

    background-color      : aqua;
    background-image      : url('./photo/noimg2.jpg');
    background-size       : cover;
    // border-radius      : 1rem;
    // border          : solid 3px $main-color;
    box-shadow            : 0px 0px 5px black;
    background-position   : center;

    display        : flex;
    flex-direction : column;
    justify-content: space-between;
    align-items    : center;
    width          : 21rem;
    height         : 80vh;
    object-fit     : cover;
    margin-top     : 2rem;


}

.cardEze {

    background-color         : aqua;
    background-image         : url('./photo/fotoEze.jpeg');
    background-size          : cover;
    background-position      : center;
    // border-radius         : 1rem;
    // border             : solid 3px $main-color;
    box-shadow               : 0px 0px 5px black;
    background-position      : center;

    display        : flex;
    flex-direction : column;
    justify-content: space-between;
    align-items    : center;
    width          : 21rem;
    height         : 80vh;
    object-fit     : cover;
    margin-top     : 2rem;



}

.cardEsteban {

    background-color      : aqua;
    background-image      : url('./photo/fotoEsteban.jpeg');
    background-size       : cover;
    // border-radius      : 1rem;
    // border          : solid 3px $main-color;
    box-shadow            : 0px 0px 5px black;
    background-position   : center;

    display        : flex;
    flex-direction : column;
    justify-content: space-between;
    align-items    : center;
    width          : 21rem;
    height         : 80vh;
    object-fit     : cover;
    margin-top     : 2rem;


}

.cardFer {

    background-color      : aqua;
    background-image      : url('./photo/fotoFer.jpeg');
    background-size       : cover;
    // border-radius      : 1rem;
    // border          : solid 3px $main-color;
    box-shadow            : 0px 0px 5px black;
    background-position   : center;

    display        : flex;
    flex-direction : column;
    justify-content: space-between;
    align-items    : center;
    width          : 21rem;
    height         : 80vh;
    object-fit     : cover;
    margin-top     : 2rem;


}



.nameBox {
    width              : 100%;
    // background-color: rgba(255, 255, 255, 0.2);
    width              : 100%;
    height             : 10%;
    display            : flex;
    justify-content    : center;
    align-items        : center;


    h4 {
        // border-bottom: solid 3px $main-color;
        text-shadow: 1px 1px 5px black;

        // color    : $main-color;
        color    : white;
        opacity  : 0.9;
        font-size: 1.8rem;
    }



}


.linkBox {

    // background-color: rgba(255, 255, 255, 0.2);
    width          : 100%;
    width          : 100%;
    height         : 10%;
    display        : flex;
    justify-content: flex-end;
    align-items    : center;

    a {
        font-size   : 1.8rem;
        // color    : $main-color;
        color       : white;
        filter      : drop-shadow(1px 1px 3px black);
        // margin      : 0 1rem;
        padding:0.5rem;
        transition: 0.1s;
    }


    a:hover {
        color: $main-color;
    }

    a:active {
        color: $main-color;
        filter: brightness(0.8);
    }

}

@media screen and (min-width: $tablet-width) {

    .AboutUs {
        flex-direction : row;
        justify-content: center;
        flex-wrap      : wrap;
    }


    .cardFer,
    .cardGonza,
    .cardAngel,
    .cardEze,
    .cardBautista,
    .cardDavid,
    .cardEsteban {
        margin    : 1rem 2rem;
        filter    : brightness(0.4);
        transition: 0.1s;
        width     : 15rem;
        height    : 60vh;


        h4 {
            display  : none;
            font-size: 1.3rem;

        }

        a {

            display  : none;
            font-size: 1.8rem;

        }


    }

    .cardFer:hover,
    .cardGonza:hover,
    .cardAngel:hover,
    .cardEze:hover,
    .cardBautista:hover,
    .cardDavid:hover,
    .cardEsteban:hover {
        // margin: 1rem 2rem;
        filter: brightness(1);






        h4 {
            display: inherit;
        }

        a {
            display: inherit;

        }


    }
}


@media screen and (min-width: $notebook-width) {

    .AboutUs {
        flex-direction : row;
        justify-content: center;
        flex-wrap      : wrap;
    }


    .cardFer,
    .cardGonza,
    .cardAngel,
    .cardEze,
    .cardBautista,
    .cardDavid,
    .cardEsteban {
        margin    : 1rem 2rem;
        filter    : brightness(0.4);
        transition: 0.2s;
        width     : 15rem;
        height    : 65vh;


        h4 {
            display  : none;
            font-size: 1.3rem;
        }

        a {

            display  : none;
            font-size: 1.8rem;

        }


    }

    .cardFer:hover,
    .cardGonza:hover,
    .cardAngel:hover,
    .cardEze:hover,
    .cardBautista:hover,
    .cardDavid:hover,
    .cardEsteban:hover {
        // margin: 1rem 2rem;
        filter: brightness(1);





        h4 {
            display: inherit;
        }

        a {
            display: inherit;

        }


    }
}

@media screen and (min-width: $desktop-width) {

    .AboutUs {
        flex-direction : row;
        justify-content: center;
        flex-wrap      : wrap;
    }


    .cardFer,
    .cardGonza,
    .cardAngel,
    .cardEze,
    .cardBautista,
    .cardDavid,
    .cardEsteban {
        margin    : 1rem 2rem;
        filter    : brightness(0.4);
        transition: 0.2s;
        width     : 18rem;
        height    : 70vh;


        h4 {
            display  : none;
            font-size: 1.6rem;

        }

        a {

            display  : none;
            font-size: 2.0rem;

        }


    }

    .cardFer:hover,
    .cardGonza:hover,
    .cardAngel:hover,
    .cardEze:hover,
    .cardBautista:hover,
    .cardDavid:hover,
    .cardEsteban:hover {
        // margin: 1rem 2rem;
        filter: brightness(1);





        h4 {
            display: inherit;
        }

        a {
            display: inherit;

        }


    }
}