.searchBarContainer {
  width: 100vw;
  height: 110vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: #3884FE;
  border: 1px solid #686868;
  box-sizing: border-box;
}
.searchBarContainer h3 {
  font-size: 2rem;
  font-weight: 400;
  color: #ffffff;
  border-bottom: solid 2px #146eff;
  text-shadow: 0px 0px 2px black;
}
.searchBarContainer label {
  text-shadow: 0px 0px 2px black;
  color: #ffffff;
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif;
}
.searchBarContainer input {
  color: #4d4d4d;
  border: none;
  background: transparent;
  width: 85%;
  font-size: 1.3rem;
}
.searchBarContainer select {
  color: #828282;
  padding: 3px;
  transition: 0.2s;
  border: none;
  width: inherit;
  font-size: 1.2rem;
}
.searchBarContainer select :hover {
  color: #000000;
}
.searchBarContainer *:focus {
  outline: none;
}
.searchBarContainer .dataBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 100%;
}
.searchBarContainer .dataBox .selectsData {
  width: 48%;
  padding: 0 0.2rem;
  text-shadow: 0px 0px 2px black;
}
.searchBarContainer .dataBox .selectsData input {
  font-size: 1.2rem;
}
.searchBarContainer .inputBox {
  border-radius: 5px;
  width: 100%;
  border: 1px solid #505050;
  display: flex;
  align-items: center;
  flex-direction: row;
  background: #ffffff;
  padding-left: 0.3rem;
}
.searchBarContainer .labelDisableD {
  opacity: 0.4;
}
.searchBarContainer .inputBoxDisabled {
  border-radius: 5px;
  width: 100%;
  border: 1px solid #505050;
  display: flex;
  align-items: center;
  flex-direction: row;
  color: #b1b1b1;
  background: #ffffff;
  padding-left: 0.3rem;
  opacity: 0.4;
}
.searchBarContainer .icon {
  color: #b1b1b1;
  width: 15%;
  font-size: 1.2rem;
  transition: 0.2s;
}
.searchBarContainer .icon :hover {
  color: #3884FE;
}
.searchBarContainer form {
  height: 80%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.searchBarContainer div {
  display: flex;
  flex-direction: column;
}
.searchBarContainer .allInputsBox {
  align-items: center;
  width: 100%;
}
.searchBarContainer .allInputsBox .journeyBoxWithDate {
  align-items: center;
  width: 80%;
}
.searchBarContainer .allInputsBox .originDestiny {
  width: 100%;
  align-items: center;
}
.searchBarContainer .allInputsBox .selects {
  width: 80%;
  display: flex;
  justify-content: center;
}
.searchBarContainer .allInputsBox .selects .ulBox {
  height: auto;
}
.searchBarContainer .allInputsBox .selects .ulBox ul {
  background-color: white;
  list-style: none;
  position: absolute;
}
.searchBarContainer .allInputsBox .selects .ulBox ul li {
  display: flex;
  border-radius: 2px;
  border: solid 1px #b1b1b1;
  flex-direction: column;
  justify-content: center;
}
.searchBarContainer .allInputsBox .selects .ulBox ul li :hover {
  box-shadow: 0px 0px 5px #3884FE;
}
.searchBarContainer .allInputsBox .selects .ulBox ul button {
  transition: 0.1s;
  width: 100%;
  padding: 0.5rem 0.2rem;
  text-align: start;
  background-color: rgba(128, 128, 128, 0.1);
  border: none;
}
.searchBarContainer .botonBox {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchBarContainer .botonBox button {
  color: #ffffff;
  background-color: #146eff;
  height: 100%;
  width: 40%;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  box-shadow: -1px -1px 3px black inset;
}
.searchBarContainer .botonBox button .iconSearch {
  margin: 0 0.5rem;
}
.searchBarContainer .botonBox button:hover {
  box-shadow: -2px -2px 3px black inset;
}
.searchBarContainer .botonBox button:active {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5) inset;
}

@media screen and (min-width: 768px) {
  .searchBarContainer input {
    font-size: 1.5rem;
  }
  .searchBarContainer .dataBox {
    width: 80%;
  }
  .searchBarContainer .dataBox .selectsData {
    margin-right: 1rem;
  }
  .searchBarContainer .dataBox .selectsData input {
    font-size: 1.3rem;
  }
  .searchBarContainer .selects .inputBox select {
    font-size: 1.3rem;
  }
  .searchBarContainer .selects .inputBox .icon {
    width: 10%;
  }
  .searchBarContainer .botonBox .boton {
    width: 20%;
  }
}
@media screen and (min-width: 1024px) {
  .searchBarContainer {
    height: 60vh;
    width: 80vw;
    border-radius: 5px;
  }
  .searchBarContainer .titleBox {
    height: 20%;
    display: flex;
    justify-content: center;
  }
  .searchBarContainer form {
    width: 95%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
  }
  .searchBarContainer form .allInputsBox {
    height: 70%;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
  }
  .searchBarContainer form .allInputsBox .journeyBoxWithDate {
    align-items: start;
    justify-content: space-evenly;
    height: 80%;
  }
  .searchBarContainer form .allInputsBox .journeyBoxWithDate .selects {
    margin: 0;
  }
  .searchBarContainer form .allInputsBox .journeyBoxWithDate .dataBox {
    width: 100%;
  }
  .searchBarContainer form .allInputsBox .originDestiny {
    justify-content: space-evenly;
    width: 100%;
    height: 80%;
  }
  .searchBarContainer input {
    font-size: 1rem;
  }
  .searchBarContainer .selects {
    width: 15%;
    margin: 0 0.4rem;
  }
  .searchBarContainer .selects .inputBox {
    height: 5vh;
  }
  .searchBarContainer .selects .inputBox .icon {
    margin-right: 0.3rem;
  }
  .searchBarContainer .selects .inputBox select {
    font-size: 1rem;
  }
  .searchBarContainer .dataBox {
    width: 30%;
    height: initial;
  }
  .searchBarContainer .dataBox .selectsData {
    margin-right: 0rem;
    width: 50%;
  }
  .searchBarContainer .dataBox .selectsData input {
    font-size: 0.8rem;
    height: 5vh;
  }
  .searchBarContainer .botonBox {
    height: 20%;
  }
  .searchBarContainer .botonBox .boton {
    height: 80%;
    width: 12%;
    padding: 0 0.5rem;
  }
  .searchBarContainer .extraBox {
    width: initial;
    height: 20%;
    flex-direction: row;
  }
  .searchBarContainer .extraBox button {
    width: 12vw;
  }
  .searchBarContainer .extraBox button .divA {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1440px) {
  .searchBarContainer .botonBox .boton {
    width: 20%;
  }
}
.ErrorBox {
  transition: 0.2s;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3000;
}
.ErrorBox .errorr {
  transition: 0.4s;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem 0;
  background-color: transparent;
  height: 50%;
  width: 100%;
  border-radius: 10px;
}
.ErrorBox .errorr h2,
.ErrorBox .errorr p {
  font-size: 1.6rem;
  color: white;
  text-shadow: 0px 0px 50px #3884FE;
}
.ErrorBox .errorr .exclamation {
  color: yellow;
  filter: drop-shadow(0px 0px 2px black);
  font-size: 4em;
}
.ErrorBox .errorr button {
  color: #ffffff;
  background-color: #146eff;
  height: 2em;
  width: 6em;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  box-shadow: -1px -1px 3px black inset;
}
.ErrorBox .errorr button:hover {
  box-shadow: -2px -2px 3px black inset;
}
.ErrorBox .errorr button:active {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5) inset;
}

.disabled * {
  display: none;
}

/*# sourceMappingURL=Searchbar.module.css.map */
