@import "../../scss/variables";

.searchBarContainer {
  width          : 100%;
  height         : 100vh;
  // position: absolute;
  // left: 53px;
  // top: 191px;
  display        : flex;
  flex-direction : column;
  align-items    : center;
  justify-content: space-around;
  background     : $white;

  border       : 1px solid #686868;
  // box-shadow: 0px 0px 6px black ;
  box-sizing   : border-box;
  border-radius: 15px;

  h3 {
    // padding-top        : 1rem;
    font-size          : 1.5rem;
    font-weight        : $regular-font;
    // font-family     : $titles-font;
    color              : $black;
    border-bottom      : solid 2px $main-color;
  }

  label {
    color         : $black;
    // font-weight: $bold-font;
    font-size     : 1.2rem;
    font-family   : $content-font;
  }

  input {
    // font-weight: $medium-font;
    color     : $darkgray;
    border    : none;
    background: transparent;
    width     : 85%;
    height    : 100%;
    font-size : 1.3rem;
  }

  select {
    color     : $lightgray;
    padding   : 3px;
    transition: 0.2s;
    border    : none;
    width     : inherit;
    height    : 100%;
    font-size : 1.2rem;

    :hover {
      color: $black
    }

  }

  *:focus {
    outline: none;
  }

  .dataBox {
    display                     : flex;
    flex-direction              : row;
    align-items                 : center;
    justify-content             : start;
    // background-color      : mediumslateblue;
    width                       : 100%;
    // height                   : 30vh;
    // border             : 1px solid #505050;


    .selectsData {

      width              : 48%;
      padding            : 0 0.2rem;
      // background-color: mediumspringgreen;



      input {
        font-size: 1.2rem;
      }
    }






  }

  .inputBox {
    height        : 7vh;
    border-radius : 5px;
    width         : 100%;
    border        : 1px solid #505050;
    display       : flex;
    align-items   : center;
    flex-direction: row;
    color         : $lightgray;
    padding-left  : 0.3rem;

  }


  .labelDisableD {
    opacity: 0.4;
  }

  .inputBoxDisabled {
    height        : 7vh;
    border-radius : 5px;
    width         : 100%;
    border        : 1px solid #505050;
    display       : flex;
    align-items   : center;
    flex-direction: row;
    color         : $lightgray;
    padding-left  : 0.3rem;
    opacity       : 0.4;
  }



  .icon {
    color        : $lightgray;
    // height    : 70%;
    width        : 15%;
    font-size    : 2rem;
    // padding  : 0 5px;
    transition   : 0.2s;

    :hover {
      color: $main-color;
    }
  }

  form {
    // background-color: lawngreen;
    height         : 80%;
    width          : 90%;
    display        : flex;
    flex-direction : column;
    justify-content: space-around;
    align-items    : center;
  }

  div {
    display       : flex;
    flex-direction: column;
  }


  .selects {
    // height                   : 40%;
    // background-color      : lightgreen;
    width                 : 80%;
    display               : flex;
    // align-items: center;
    justify-content       : center;
    // padding: 1rem 0;
    // position           : relative;

    .ulBox {
      width    : 100%;
      // height: 10vh;
      height   : auto;

      // background-color: blue;
      ul {
        background-color      : white;
        list-style            : none;
        position              : absolute;
        // background-color   : red;
        width                 : 72%;

        li {
          display            : flex;
          border-radius      : 2px;
          border             : solid 1px $lightgray;
          flex-direction     : column;
          justify-content    : center;
          // height          : 20%;
          // border: solid 1px $main-color;

          :hover {
            box-shadow: 0px 0px 5px $main-color;
          }
        }

        button {
          transition: 0.1s;
          width     : 100%;
          padding   : 0.5rem 0.2rem;
          text-align: start;

          background-color: rgba(128, 128, 128, 0.1);

          border: none;

        }
      }
    }


  }

  .botonBox {
    width              : 100%;
    height             : 10%;
    // background-color: khaki;
    display            : flex;
    align-items        : center;
    justify-content    : center;

    button {
      background-color: $main-color;
      color           : $white;
      height          : 100%;
      width           : 40%;
      border          : none;
      border-radius   : 10px;
      display         : flex;
      align-items     : center;
      justify-content : center;
      transition      : 0.2s;
      box-shadow      : -1px -1px 3px 1px black inset;

      .iconSearch {
        margin: 0 0.5rem
      }
    }

    button:hover {
      box-shadow: -1px -1px 5px 1px black inset;

    }

    button:active {
      box-shadow: 0px 0px 50px 3px rgba(0, 0, 0, 0.5) inset;

    }
  }


  .extraBox {

    width          : 100%;
    height         : 10%;
    display        : flex;
    align-items    : center;
    justify-content: center;
    margin-top     : 15px;
    // transition : 0.2s;
    // border: solid 1px $lightgray;


    button {
      border-radius: 2px;

      height          : 100%;
      width           : 60%;
      background-color: transparent;
      border          : solid 1px grey;
      display         : flex;
      justify-content : center;
      align-items     : center;
      transition      : 0.2s;





      .divA {
        color: $lightgray;

        margin             : 1px;
        // background-color: turquoise;
        height             : 100%;
        width              : 33%;
        display            : flex;
        flex-direction     : row;
        justify-content    : space-evenly;
        align-items        : center;
        font-size          : 1.5rem;
        transition : 0.2s;



      }

    }

    button:hover {
      // background-color: $main-color;
      box-shadow: -1px -2px 1px $main-color inset;

      .divA {
        color: grey;
      }
    }
    button:active {
      // background-color: $main-color;
      box-shadow: 1px 2px 4px black inset;

      .divA {
        color: rgba(0, 0, 0, 0.685);
      }
    }


  }

  @media screen and (min-width: $tablet-width) {

    //768px

    .searchBarContainer {
      width: 90%;

      input {
        font-size: 1.5rem;
      }

      .dataBox {
        width: 60%;

        .selectsData {
          margin-right: 1rem;

          input {
            font-size: 1.3rem;
          }
        }
      }


      .selects {




        .ulBox {
          // width: 40%;

          ul {
            width: 65%;


          }
        }

        .inputBox {

          select {
            font-size: 1.3rem;
          }


          .icon {
            width: 10%;
          }
        }
      }





      .botonBox {

        .boton {

          width: 20%;
        }

      }

    }



  }

}

@media screen and (min-width: $notebook-width) {
  //1024

  .searchBarContainer {

    height: 40vh;
    width : 90vw;

    .titleBox {
      // width : 100%;
      height         : 20%;
      display        : flex;
      justify-content: center;


    }

    label {
      // font-weight: $regular-font;
      font-size: 1rem;
    }



    form {
      // background-color: blue;
      width          : 95%;
      flex-direction : row;
      flex-wrap      : wrap;
      justify-content: space-around;
      align-items    : center;
      height         : 70%;
    }

    input {
      font-size: 1rem;
    }

    .selects {

      width    : 15%;
      // height: initial;
      margin   : 0 0.4rem;

      .ulBox {
        ul {
          width: 30%;
        }
      }





      .inputBox {
        height: 5vh;

        .icon {
          margin-right: 0.3rem;
        }

        select {
          font-size   : 1rem;
          // height   : initial;

        }
      }


    }


    .dataBox {
      width             : 30%;
      height            : initial;
      // justify-content: center;

      .selectsData {
        // margin-left : 1rem;
        margin-right: 0rem;
        width       : 50%;

        input {

          font-size: 0.8rem;
          height   : 5vh;

        }


      }
    }


    .botonBox {
      // background-color: red;
      height: 20%;

      .boton {
        // height : 10vh;
        width  : 12%;
        padding: 0 0.5rem;
      }
    }

    .extraBox {
      width              : initial;
      // background-color: aqua;
      height             : 20%;
      flex-direction     : row;
      // height: 20vh;

      button {
        // background-color: blue;
        width: 12vw;


        .divA {

          font-size: 1.2rem;
        }
      }

    }

  }




}



@media screen and (min-width: $desktop-width) {
  //1440



  .searchBarContainer {


    background-color: blue;

    .botonBox {
      .boton {
        width: 20%;
      }
    }



    .selects {
      .ulBox {
        ul {
          width: 25%;
        }
      }
    }

  }






}

.ErrorBox {
  position: fixed;

  height          : 100vh;
  width           : 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  display         : flex;
  justify-content : center;
  align-items     : center;
  z-index         : 3000;

  .errorr {
    display         : flex;
    justify-content : center;
    align-items     : center;
    background-color: white;
    height          : 50%;
    width           : 50%;
  }
}