.allHome {
    background-image        : url('../../assets/planes/plane-4.webp');
<<<<<<< HEAD
    background-size         : cover;
=======
    //background-size         : cover;
>>>>>>> 293bebb88cbdeb3144347f8f0ad08f110b650840
    background-attachment   : fixed;
    background-position     : center;
    padding-top             : 8rem;
    // height               : 100vh;
    display                 : flex;
    flex-direction          : column;
    align-items             : center;
    justify-content         : center;
    // background-color: antiquewhite;
}