@import "../../scss/variables";


.heroSection {
    background-color: $main-color;
    background-image: url("../../assets/planes/plane-1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20rem;
    position: relative;
    height: 90vh;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    h1 {
        color: white;
        font-size: 3rem;
        max-width: 40rem;
        text-align: center;
        width: 90%;
        z-index: 10;
    }
}

.offers {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 20rem;
    padding: 3rem 0;
    width: 100%;

    h1 {
        border-bottom: $main-color solid 2px;
        font-size: 2rem;
        padding-bottom: .5rem;
        text-align: center;
        width: auto;
        margin: 2.5rem auto;
    }

    &Cards {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        align-items: center;
        margin: 4rem 0;
        max-width: 50rem;
        width: 90%;
    }

    &Card {
        border: #eee solid 2px;
        border-radius: .8rem;
        box-shadow: 5px 5px 10px rgba(148, 148, 148, 0.5);
        font-size: 2.4rem;
        padding: 2rem 3rem;
        width: 100%;

        &MainInfo {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &Info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 1rem;

            svg {
                // transform: translateY(5px);
                color: $gray;
                font-size: 1.6rem;
            }

            p {
                font-size: 1.2rem;
                font-weight: $medium-font;
                display: flex;
                align-items: center;

                gap: 1rem;

            }

        }

        &Type {
            font-weight: $bold-font;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 1rem;

            svg {
                font-size: 2rem;
            }
        }

        &Buttons {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            button {
                background-color: transparent;
                border: $main-color solid 2px;
                border-radius: 7px;
                font-weight: $bold-font;
                padding: .8rem 2.5rem;

                &:first-child {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: .5rem;
                    color: $main-color;

                    svg {
                        font-size: 1.2rem;
                    }
                }

                &:last-child {
                    color: $white;
                    background-color: $main-color;
                }
            }
        }
    }
}